$measurement : 1px;
$mainColor: #88008B;
$darkerMainColor: #4C044D;
$lighterMainColor: #C7B1C8;
$errorColor : #f2dede;
$alertTextColor : #a94442;
$inputHeight: 40px; 

@mixin rgba-background($hexcolor, $opacity) {
    background-color: rgba($hexcolor, $opacity); 
  }

// Import font
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&family=Roboto+Mono&display=swap');

#editor-wrapper {
    max-width: 680px;
    margin-top : 1em;
    #editor-container {
        margin: 0 auto;
        position: relative;
        width:100%;
        canvas {
            box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
            width: 100%;
        }    

    }
    #tabs-container {
        justify-content: space-evenly;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-family: 'Nunito';
        .editor-tab {
            flex:1;
            text-align: center;

            &.active {

                a {
                    color: $darkerMainColor;
                    border-bottom: 5px solid $mainColor;
                }

            }
        }

    }
    #options-container {
        height: 70px;
        display: flex;
        margin-top: 0.5em;
    
        .editor-option {
            height: 100%;
        }
    }
    
    #options-fields-container {
        margin-top: 1.5em;
        font-family: 'Nunito', sans-serif;
        font-weight:normal;
        text-transform: uppercase; 
        padding-right: 0.1em;
        padding-left: 0.1em;
    }

    button {
        background: white;
        color: $mainColor;
        border: $measurement solid $lighterMainColor;
        cursor: pointer;
        padding: 1em 1.25em;
        position: relative;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        border-radius: 5px;
        margin-right: 0.2em;
        text-align : center;
        min-width: 100px;

        i {
            display: block;
            font-size:1.5em;
            margin-bottom: 0.1em;
        }
    }
    #change-position-container {
        i {
            font-size: 1.5em;
            color: $mainColor;
            padding: 0.5em;
            cursor: pointer;    
         }
        & .col:not(:last-child) {
            border-right: 1px solid $lighterMainColor;
        }
    }

    #add-stickers-container {
        a {
            font-size: 0.9em;
        }

        .sticker-options {
            margin-bottom: 0.5em;
        }

        .active {
            color: $darkerMainColor;
            @include rgba-background($lighterMainColor, 0.2);
            padding: 0.2em 0.5em;
            border-radius: 5px;;
        }

        #stickers-carousel {
            width: 100%;
            align-items: center;

            i {
                color: $darkerMainColor;
                font-size: 2.5em;
                cursor: pointer;
            }            
            & .carousel-back {
                margin-right: 0.5em;
            }

            & .carousel-forward {
                margin-left: 0.5em;
            }
            .carousel-images-wrapper {
                overflow: hidden;
                width: 70%;
                img {
                    width: 80px;
                    height: auto;
                    cursor: pointer;
                }
            }
        }
    }

    #custom-text  {
        input[type="text"] {
            width: 100%;
            height: $inputHeight;
    
            &:focus {
                border-color: $darkerMainColor;
            }
        }

        select {
            border: 1px solid $lighterMainColor;
            border-radius: 5px;
            height: $inputHeight;
            margin-bottom: 0.5em;
            margin-right: 0.5em;
        }
        
       .text-options-wrapper {
            button {
                height: $inputHeight;
                width: 50px;
                min-width: 50px;
                padding: 0.5em;
                color: #5a5a5a;
            }
       }

        button.color-picker-button {
        position: relative;
        display: inline-block;

        .a-color-picker-wrapper {
            width: 120px;
            position: absolute;
            z-index: 1;
            bottom: 100%;
            left: 50%;
            margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */


            .a-color-picker-row:not(:last-child) {
                display: none !important;
            }
        }
       }
    }

    a {
        font-weight:bold;
        text-decoration: none;
        color: $lighterMainColor;
        text-transform: none;
    }

    input[type="text"] {
        border: 1px solid $lighterMainColor;
        font-family: 'Nunito', sans-serif;
        height: 30px;
        border-radius: 5px;
    }

    .width-80 {
        width: 80%;
    }
    .width-60 {
        width: 60%;
    }
    .width-50 {
        width: 50%;
    }

    .url-input input{
        width: 100%;
        margin-bottom: 0.5em;
    }

    .small-button {
        padding: 0.5em 0.7em;
    }

    .bg-main-color {
        background-color: $mainColor;
    }
    .white-text {
        color: white;
    }
    .flex {
        display: flex;
    }
    .even-cols {
        justify-content: space-evenly;
    }
    .col {
        padding-left: 5px;
        padding-right:5px;
        flex-grow: 1;
    }
    .justify-center {
        justify-content: center;
    }
    
    .text-center {
        text-align:center;
    }

    .text-right {
        text-align: right;
    }

    .hide {
        display: none;
    }

    #alert-container {
        margin: 0.5em 0;
        opacity: 1;
        transition: opacity 1s;
        transition-delay: 4s;

        &.fade {
            opacity: 0;
        }

        .alert {
            padding:0.5em;
            color: $alertTextColor;
            border-radius: 5px;

            &.error {
                background-color: $errorColor;
            }
        }
    }
    @keyframes wiggle {
        0% { transform: skewX(9deg); }
        10% { transform: skewX(-8deg); }
        20% { transform: skewX(7deg); }
        30% { transform: skewX(-6deg); }
        40% { transform: skewX(5deg); }
        50% { transform: skewX(-4deg); }
        60% { transform: skewX(3deg); }
        70% { transform: skewX(-2deg); }
        80% { transform: skewX(1deg); }
        90% { transform: skewX(0deg); }
        100% { transform: skewX(0deg); }
    }

    .wiggle {
        animation-name: wiggle;
        animation-timing-function: ease-in;
        animation-duration: 1s;
    }
}
// @media all and (max-width: 330px) {
//     #editor-wrapper {        
//         #custom-text {
//             .a-color-picker-wrapper {
//                 top: 30px !important
//             }
//         }
//     }
// }

// @media all and (max-width: 370px) {
//     #editor-wrapper {        
//         #custom-text {
//             .a-color-picker-wrapper {
//                 top: 40px !important
//             }
//         }
//     }
// }
@media all and (max-width: 768px) {
    #editor-wrapper #tabs-container .editor-tab:nth-child(1) {
        flex-grow: 1.8 !important;
    }
}

@media all and (min-width: 768px) {
    #editor-wrapper {
        #add-stickers-container {
            #stickers-carousel {
                width: 70% !important;
            }
       } 
    }
}
