#editor-container {
    border: 1px solid #ccc;
}

#options-container {
    height: 70px;
    display: flex;

    .editor-option {
        height: 100%;
    }
    & button {
        height: 100%;

        i {
            display: block;
        }
    }

}