@import '~swiper/swiper.scss';

.swiper-container {
    width: 70%;
    margin: 0;
    .swiper-slide {
        width: 80px;
        img {
            width: 80px;
            cursor: pointer;
        }
    }
}